from typing import List
import unittest

from solution_{{ padded_problem_number }} import Solution


class TestSolution{{ padded_problem_number}}(unittest.TestCase):

    def setUp(self):
        self.solution = Solution()


if __name__ == "__main__":
    unittest.main()

