cmake_minimum_required(VERSION 3.10)

# set the project name and version
project(Problem-{{ padded_problem_number }} VERSION 1.0)

# specify the C++ standard
set(CMAKE_CXX_STANDARD 11)
set(CMAKE_CXX_STANDARD_REQUIRED True)

# add the header-only library
add_library(Solution-{{ padded_problem_number }} INTERFACE)

# add the test case executable
set(TEST_SOURCES
    Solution-{{ padded_problem_number }}.test.cpp
)
add_executable(Test-Solution-{{ padded_problem_number }} "${TEST_SOURCES}")
target_include_directories(Test-Solution-{{ padded_problem_number }} PRIVATE "${CMAKE_CURRENT_SOURCE_DIR}/../../../../libs/cpp/external/doctest/doctest/")
target_link_libraries(Test-Solution-{{ padded_problem_number }} PRIVATE Solution-{{ padded_problem_number }})

