#define DOCTEST_CONFIG_IMPLEMENT_WITH_MAIN
#include "doctest.h"

#include "Solution-{{ padded_problem_number }}.h"


TEST_CASE("Test solution to problem {{ padded_problem_number}} ") {

    Solution solution;

    SUBCASE("") {
        // Implementation
    }
}

