%% tex/references.tex

\section*{References}

    \begin{enumerate}[label={[\arabic*]}, ref=\arabic*]
        {{ '\item{\href{' }}{{ problem_url }}{{ '}{' }}{{ problem_url }}{{ '}}' }}
    \end{enumerate}

